@import url("colors.less");
@import url("fonts.less");
@import url("breakpoints.less");
@import url("animations.less");


html {
  min-height: 100%;
  font-family: "futura-pt";
  font-weight: 300;
}

body {
  font-family: "futura-pt";
}

h1, h2, h3, h4, h5, h6, {
  font-family: "futura-pt";
  color: @gold;
}

p {
   font-family: "futura-pt";
}


.container-fluid {

  .breakpoint-small({
    padding-left: 0;
    padding-right: 0;
  });
  
}

.navbar-container {
  padding-left: 0;
  padding-right: 0;
  
  .breakpoint-small({
    padding-left: 15px;
    padding-right: 15px;
  });
}