<div id="activities-section" class="section col-xs-12 col-sm-10 col-sm-offset-1">
  <div class="row">
    <p>For things to do in the area, we recommend checking out the following <a href="http://www.gostowe.com/thingstodo" target="_blank">website</a>. Or, check out below for our top three in each category (If you’re interested in checking out Montpelier or Burlington while you’re here, we included a few options)</p>
    <ul>
      <li><p ng-click="changeActivity('food', $event)" class="selected-category">Food</p></li><i class="fa fa-circle"></i>
      <li><p ng-click="changeActivity('drink', $event)">Drink</p></li><i class="fa fa-circle"></i>
      <li><p ng-click="changeActivity('tours', $event)">Tours & Museums</p></li><i class="fa fa-circle"></i>
      <li><p ng-click="changeActivity('outdoors', $event)">Outdoors</p></li>
    </ul>
  </div>
  <div class="row selected-activities">
    <p ng-repeat="activity in selectedCategory"><i class="fa fa-plus"></i>{{activity}}</p>
  </div>
</div>